<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="student" class="com.ant.bean.Student">
        <property name="age" value="22"></property>
        <property name="sname" value="xuchuanliang"></property>
        <property name="teacher" ref="teacher"></property>
    </bean>

    <bean id="teacher" class="com.ant.bean.Teacher">
        <property name="tname" value="Mr Xu"></property>
    </bean>

</beans>