<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//capter02.mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>


    <properties resource="jdbc.properties"></properties>


    <typeHandlers>
        <typeHandler handler="capter02.mybatis.MyTypeHandler" javaType="Boolean" jdbcType="NUMERIC"></typeHandler>
    </typeHandlers>

    <objectFactory type="capter02.mybatis.MyDeptFacory"></objectFactory>
    
    <plugins>
        <plugin interceptor="capter02.mybatis.MyInterceptor"></plugin>
    </plugins>

    <environments default="development">
        <environment id="development">
            <transactionManager type="capter02.JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <package name="capter02.mybatis.Mapper"/>
    </mappers>
</configuration>