<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//capter02.mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="capter02.mybatis.Mapper.DeptMapper">

    <resultMap id="myResultMap" type="capter02.mybatis.bean.Dept">
        <constructor>
            <arg column="created" name="created"></arg>
        </constructor>
    </resultMap>
    
    <resultMap id="findAllResMap" type="capter02.mybatis.bean.Dept">
        <id property="id" column="id"></id>
        <result property="name" column="name"></result>
        <result property="created" column="created"></result>
        <result property="flag" column="flag" typeHandler="capter02.mybatis.MyTypeHandler"></result>
    </resultMap>

    <select id="findAll" resultMap="myResultMap">
        select * from dept;
    </select>

    <insert id="insertDept" parameterType="capter02.mybatis.bean.Dept">
        insert into dept values (#{id},#{name},#{created},#{flag,typeHandler=mybatis.MyTypeHandler})
    </insert>

</mapper>